@import "https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap";
@-webkit-keyframes bs {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes bs {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@-webkit-keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}
@-webkit-keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes aside-bar {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes aside-bar {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes right {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes right {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: #fff;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes blink {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: #fff;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kdam Thmor Pro", sans-serif;
}

body {
  background-color: #111;
  color: white;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #0DC30D;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border: 3px solid #0DC30D;
  border-radius: 990px;
}

::-webkit-scrollbar-button:single-button {
  width: 14px;
  height: 20px;
  background: #0DC30D;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(/img/up-arrow-svgrepo-com.svg);
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(/img/down-arrow-svgrepo-com\ \(1\).svg);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
header .logo {
  text-transform: uppercase;
  cursor: pointer;
}

aside {
  position: fixed;
  left: 20px;
  bottom: 50px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
aside:after {
  content: "";
  width: 40px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: -20px;
  margin-right: 4px;
  background-color: #fff;
  transform: rotate(90deg) translate(16px, 3px);
  -webkit-animation: aside-bar 1s ease;
          animation: aside-bar 1s ease;
}
aside ul {
  -webkit-animation: aside-bar 1s ease;
          animation: aside-bar 1s ease;
}
aside ul li {
  list-style: none;
}
aside ul li a {
  display: inline-block;
  margin: 10px;
  margin-right: 20px;
  transition: 0.5s;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}
aside ul li a:hover {
  transform: translateY(-5px);
  color: #0DC30D;
}

nav .toggle {
  position: absolute;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border: none;
  top: 48px;
  right: 52px;
  background: url(/img/menu-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  cursor: pointer;
}
nav .toggle[aria-expanded=true] {
  background-image: url(/img/icons8-close.svg);
}
nav .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: white;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.749);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transform: translateX(300px);
  transition: transform 350ms ease-out;
}
nav .menu ul {
  position: relative;
  list-style: none;
}
nav .menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}
nav .menu ul li a:hover {
  color: #0DC30D;
}
nav .menu[data-visible=true] {
  transform: translateX(0);
}

footer {
  display: none;
}
footer p {
  color: #0DC30D;
  text-align: center;
  margin-bottom: 2px;
  font-size: 10px;
}

.social__icon,
.footer__menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.social__icon li,
.footer__menu li {
  list-style: none;
}

.social__icon li a {
  font-size: 20px;
  margin: 0 10px;
  color: #fff;
  display: inline-block;
  transition: 0.5s;
}

.footer__menu li a {
  font-size: 14px;
  margin: 0 10px;
  color: #fff;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}

.showcase {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: #111;
  align-items: unset;
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
.showcase .text {
  position: relative;
  z-index: 10;
  margin-left: 40px;
}
.showcase .text h2 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  -webkit-animation: opacity 1s ease-out;
          animation: opacity 1s ease-out;
}
.showcase .text h3 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
  -webkit-animation: opacity 2s ease-in;
          animation: opacity 2s ease-in;
}
.showcase .text h3 .text-typing {
  color: #0DC30D;
}
.showcase .text h3 .cursor {
  display: inline-block;
  width: 3px;
  background-color: #fff;
  margin-left: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
.showcase .text p {
  font-size: 25px;
  margin: 20px 0;
  font-weight: 400;
  max-width: 740px;
  -webkit-animation: opacity 3s ease-in;
          animation: opacity 3s ease-in;
}
.showcase .text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  -webkit-animation: opacity 3s ease-in-out;
          animation: opacity 3s ease-in-out;
}
.showcase .text a:hover {
  letter-spacing: 6px;
  color: #0DC30D;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: #111;
}
.contact video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
.contact .contact__tittle {
  max-width: 800px;
  text-align: center;
  margin-top: 50px;
  z-index: 10;
  -webkit-animation: opacity 1s;
          animation: opacity 1s;
}
.contact .contact__tittle h2 {
  font-size: 50px;
  color: #0DC30D;
}
.contact .contact__tittle p {
  font-size: 20px;
  color: #fff;
}
.contact .form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-animation: right 2s;
          animation: right 2s;
}
.contact .form .form__info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact .form .form__info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact .form .form__info .box .box__icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin-left: 20px;
}
.contact .form .form__info .box .box__text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
}
.contact .form .form__info .box .box__text h3 {
  color: #0DC30D;
}
.contact .form .form__contact {
  width: 50%;
  padding: 40px;
  background: #fff;
}
.contact .form .form__contact h2 {
  font-size: 30px;
}
.contact .form .form__contact .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact .form .form__contact .inputBox input, .contact .form .form__contact .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #111;
  outline: none;
  resize: none;
}
.contact .form .form__contact .inputBox input:focus ~ span, .contact .form .form__contact .inputBox textarea:focus ~ span {
  font-size: 12px;
  transform: translateY(-20px);
}
.contact .form .form__contact .inputBox input:valid ~ span, .contact .form .form__contact .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
}
.contact .form .form__contact .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #111;
}
.contact .form .form__contact .inputBox input[type=submit], .contact .form .form__contact .inputBox textarea[type=submit] {
  width: 100px;
  background: #0DC30D;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.about {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: #111;
}
.about video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
.about .about__tittle {
  max-width: 800px;
  text-align: center;
  margin-top: 50px;
  z-index: 10;
  -webkit-animation: opacity 1s;
          animation: opacity 1s;
}
.about .about__tittle h2 {
  font-size: 50px;
  color: #0DC30D;
}
.about .about__tittle p {
  font-size: 20px;
  color: #fff;
}
.about .about__tittle p {
  font-size: 30px;
}
.about .about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  margin: 80px auto 20px;
}
.about .about-me .about-me__body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.about .about-me .about-me__body img {
  border-radius: 90px 1px;
  max-width: 350px;
  height: 350px;
  margin: 20px 50px;
  -webkit-animation: opacity 2s;
          animation: opacity 2s;
}
.about .about-me .about-me__body p {
  max-width: 800px;
  font-size: 20px;
  -webkit-animation: opacity 2s;
          animation: opacity 2s;
}
.about .skills__section {
  margin: 25px auto;
  width: 480px;
  padding: 20px;
  box-shadow: 0 14px 28px #0DC30D;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.about .skills__section h2 {
  text-align: center;
}
.about .skills__section h3 {
  margin: 5px;
}
.about .skills__section li {
  margin: 20px 0;
  padding: 10px;
  list-style: none;
}
.about .skills__section .bar {
  background: #111;
  display: block;
  height: 20px;
  border: 1px solid #0DC30D;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 2px #0DC30D;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}
.about .skills__section .bar span {
  height: 20px;
  float: left;
  background: linear-gradient(90deg, rgb(164, 255, 0) 0%, rgb(13, 195, 13) 100%);
}
.about .skills__section .bar .html {
  width: 80%;
  -webkit-animation: html 3s;
          animation: html 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.about .skills__section .bar .css {
  width: 60%;
  -webkit-animation: css 3s;
          animation: css 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.about .skills__section .bar .bs {
  width: 50%;
  -webkit-animation: bs 3s;
          animation: bs 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.about .skills__section .bar .js {
  width: 10%;
  -webkit-animation: js 3s;
          animation: js 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.portfolio {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: #111;
}
.portfolio video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}
.portfolio .portfolio__tittle {
  max-width: 800px;
  text-align: center;
  margin-top: 50px;
  z-index: 10;
  -webkit-animation: opacity 1s;
          animation: opacity 1s;
}
.portfolio .portfolio__tittle h2 {
  font-size: 50px;
  color: #0DC30D;
}
.portfolio .portfolio__tittle p {
  font-size: 20px;
  color: #fff;
}

.works {
  z-index: 1;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  color: #111;
  margin-top: 20px;
  margin-bottom: 30px;
}
.container .card {
  position: relative;
  max-width: 350px;
  height: 305px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  height: 410px;
}
.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
}
.container .card .imgbx {
  position: relative;
  width: 260px;
  height: 300px;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.container .card .imgbx img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

@media (max-width: 599px) {
  header {
    padding: 40px;
  }

  footer {
    position: relative;
    width: 100%;
    min-height: 50px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: -20px;
  }

  aside {
    display: none;
  }

  .showcase {
    flex-direction: column;
    padding: 40px;
  }
  .showcase .text {
    margin: 50px auto;
  }
  .showcase .text h2 {
    font-size: 40px;
    margin-top: 60px;
  }
  .showcase .text h3 {
    font-size: 35px;
  }
  .showcase .text p {
    font-size: 16px;
  }
  .showcase .text a {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .contact {
    padding: 50px;
  }
  .contact .form {
    flex-direction: column;
  }
  .contact .form .form__info {
    margin-bottom: 40px;
    width: 100%;
  }
  .contact .form .form__contact {
    width: 100%;
  }

  .about .about-me {
    margin: 0;
  }
  .about .about-me .section__title {
    font-size: 35px;
    margin-top: 40px;
  }
  .about .about-me .section__subtitle {
    font-size: 25px;
  }
  .about .about-me .about-me__body p {
    font-size: 15px;
  }
  .about .about-me .about-me__body img {
    display: none;
  }
  .about .about-me .skills__section {
    width: 350px;
  }

  .container .card {
    height: 500px;
  }
  .container .card .content {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}
@media (max-width: 1000px) {
  .about-me__body img {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */